#Main {

    padding-top: 30vh;
    width: 100%;
    height: 70vh;

    background-color: #2E2E2E;

    display: flex;
    flex-direction: column;
    align-items: center;

    #Input {
        background-color: white;

        display: flex;

        #a-and-b {
            font-size: 200px;
            font-weight: 700;
        }
    }

    #Display {

    }

}